#nodeschool-logo,
#gulp-logo {
    background: none;
    border: none;
    box-shadow: none;
}

#nodeschool-logo {
    width: 551px;
    height: 145px;
}

#stream-adventure {
    color: rgb(240,230,120);
}

#adventure-link {
    color: rgb(250,200,120);
}

#gulp-logo {
    max-height: 55%
}
