#production-line {
    top: -50% !important;
}

#gulp-logo {
    max-height: 55%;
}

#gulp-logo,
#nodeschool-logo {
    background: none;
    border: none;
    box-shadow: none;
}

#nodeschool-logo {
    width: 551px;
    height: 145px;
}

#stream-adventure {
    color: rgb(240,230,120);
}

#adventure-link {
    color: rgb(250,200,120);
}

.reveal {

    [data-title-slide],
    [data-dark-background] {
        h1,
        h2 {
            color: $backgroundColor;
            text-shadow: 3px 3px 3px $headingColor;
        }
    }

    .slide-background.present {
        &[data-background-hash*="images/stream-painting.jpg"] {
            opacity: 0.5;
        }
    }
}
